@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

.App {
  height: 100vh;
}

.App-start-btn {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.App-start-btn:hover{
    animation: up-down 0.5s ;
    -webkit-animation: up-down 3s 0.5s infinite;
}

@keyframes up-down {
    0%{
        transform: translate    ;
        -webkit-transform: translate    ;
        -moz-transform: translate    ;
        -ms-transform: translate    ;
        -o-transform: translate    ;
}
    
}
